body {
  font-family: "Comic Sans MS", Comic Sans, cursive;
  background: white;
  color: black;
  text-align: center;
  padding: 20px;
}

#story-container {
  max-width: 700px;
  margin: auto;
  background: rgba(255,255,255,0.8);
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
}

#foxy-img {
  width: 250px;
  border-radius: 15px;
  border: 3px solid black;
  margin-bottom: 20px;
}

button {
  font-family: "Comic Sans MS";
  padding: 12px 20px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(
    45deg,
    #00ffcc,
    #ff66cc,
    #66aaff,
    #ffee55
    
/* Dialogue bubble */
#bubble {
  display: inline-block;
  max-width: 70%;
  background: #ffffff;
  border: 3px solid black;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Comic Sans MS";
  font-size: 18px;
  position: relative;
}

/* Bubble tail */
#bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid black;
}

#bubble::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 42px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 18px solid white;
}

